
// -------------- Colors ------------------ //

//----------------- Primary //

$primary-Blue: #5847eb;
$primary-Light-red : #ff8c66; // (work)
$primary-Soft-blue : #56c2e6; // (play)
$primary-Light-red : #ff5c7c; // (study)
$primary-Lime-green : #4acf81; // (exercise)
$primary-Violet: #7536d3; // (social)
$primary-Soft-orange: #f1c65b; // (self care)

//----------------- Neutral

$neutral-Very-dark-blue: #0f1424;
$neutral-Dark-blue: #1c1f4a;
$neutral-Desaturated-blue: #6f76c8;
$neutral-Pale-blue: #bdc1ff;

$neutral-Pale-blue2: #3b417b;


